Repository jassouline/jasapp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8_code, docker-lint, docker-build, docker-test

flake8_code:
  stage: code-check
  image: python:3
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install -r requirements.txt
  script:
  - flake8 --max-line-length=220 --extend-exclude=*.pyc,*__init__.py,./venv/*,./jasapp/rules/kubernetes/* ./

docker-lint:
  stage: docker-check
  image: hadolint/hadolint:2.9.2-debian
  script:
  - hadolint Dockerfile

docker-build:
  stage: docker-build
  image: docker:24
  services:
  - docker:24.0.5-dind
  before_script:
  - echo "$DOCKER_ACCESS_TOKEN" | docker login -u $DOCKER_HUB_REGISTRY_USER --password-stdin
  script:
  - docker build -t $TEST_IMAGE .
  - docker push $TEST_IMAGE

docker-test:
  stage: docker-test
  image: docker:24
  services:
  - docker:24.0.5-dind
  script:
  - docker run --rm $TEST_IMAGE --version
  - docker run --rm $TEST_IMAGE --score --type dockerfile --exit-code jasapp/examples/dockerfile/example.good.Dockerfile

Change the job to retrieve the version of the package
  .github/workflows/github-release.yml
Due: none

Try another syntax for the job
  .github/workflows/github-release.yml
Due: none

Add the capability to read from the stdin
  jasapp/cli.py
Due: flake8_code, docker-build

Add some new functions to parse strings
  jasapp/parser/dockerfile.py
  jasapp/parser/exceptions.py
  jasapp/parser/kubernetes.py
Due: flake8_code, docker-build

Fix syntax on dockerfile.py
  jasapp/parser/dockerfile.py
Due: flake8_code, docker-build

Changelog
  CHANGELOG.md
  README.md
  jasapp/__init__.py
  jasapp/renderers.py
  setup.py
Due: flake8_code, docker-build

Add a demo gif
  README.md
  jasapp/doc/demo.gif
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create LICENSE
  LICENSE
Due: none

Change the content of Changelog.md
  CHANGELOG.md
Due: none

Forgot to change the version in setup.py and __init__.py
  jasapp/__init__.py
  setup.py
Due: flake8_code, docker-build

Fix issue
  jasapp/rules/dockerfile/syntax/STX0020.py
Due: flake8_code, docker-build

Add a new test on github actions to test the issue-03 solving
  .github/workflows/main.yml
Due: none

Add a new test on github actions to test the issue-03 solving
  jasapp/examples/dockerfile/fix-issue-3.good.Dockerfile
Due: none

Change version on CHANGELOG.md, setup.py and __init__.py
  CHANGELOG.md
  jasapp/__init__.py
  setup.py
Due: flake8_code, docker-build

Add a new feature with Gemini integration
  .DS_Store
  CHANGELOG.md
  README.md
  jasapp.egg-info/PKG-INFO
  jasapp.egg-info/SOURCES.txt
  jasapp.egg-info/requires.txt
  jasapp/__init__.py
  jasapp/cli.py
  jasapp/gemini_integration.py
  setup.py
Due: flake8_code, docker-build

Add google-generativeai library into requirements.txt
  requirements.txt
Due: docker-build, docker-test

Add the correct version into setup.py file
  setup.py
Due: flake8_code, docker-build

Add the variables substitution into the linter
  CHANGELOG.md
  jasapp/parser/dockerfile.py
  jasapp/rules/dockerfile/syntax/STX0011.py
Due: flake8_code, docker-build

Fix syntax Flake8 dockerfile.py
  jasapp/parser/dockerfile.py
Due: flake8_code, docker-build

Add a new job to test dockerfile.py variable substitution
  .github/workflows/main.yml
  jasapp/parser/dockerfile.py
Due: flake8_code, docker-build

Change the dockerfile.py syntax
  jasapp/parser/dockerfile.py
  jasapp/rules/dockerfile/syntax/STX0011.py
Due: flake8_code, docker-build

Fix the self.name doc_link into rules STX0011.py and add ignore W605 for flake8
  .github/workflows/main.yml
  jasapp/parser/dockerfile.py
  jasapp/rules/dockerfile/syntax/STX0011.py
Due: flake8_code, docker-build

Fix some syntax errors
  jasapp/parser/dockerfile.py
  jasapp/rules/dockerfile/syntax/STX0011.py
Due: flake8_code, docker-build

Fix all Flake8 Syntaxe errirs
  .github/workflows/main.yml
  jasapp/__init__.py
  jasapp/gemini_integration.py
  jasapp/rules/dockerfile/syntax/STX0011.py
  jasapp/rules/dockerfile/syntax/STX0016.py
  jasapp/rules/dockerfile/syntax/STX0021.py
  jasapp/rules/dockerfile/syntax/STX0031.py
  jasapp/rules/dockerfile/syntax/STX0035.py
  jasapp/rules/dockerfile/syntax/STX0037.py
  jasapp/rules/dockerfile/syntax/STX0042.py
  jasapp/rules/dockerfile/syntax/STX0044.py
  jasapp/rules/dockerfile/syntax/STX0047.py
  jasapp/rules/dockerfile/syntax/STX0048.py
  jasapp/rules/kubernetes/security/K8S-SEC-0001.py
  jasapp/rules/kubernetes/security/K8S-SEC-0003.py
  jasapp/rules/kubernetes/security/K8S-SEC-0018.py
  jasapp/rules/kubernetes/security/K8S-SEC-0026.py
  setup.py
Due: flake8_code, docker-build

Path conditions:
  flake8_code: any of: **/*.py
  docker-lint: any of: Dockerfile
  docker-build: any of: **/*.py, Dockerfile, .dockerignore, requirements.txt
  docker-test: any of: ./*.py, Dockerfile, .dockerignore, requirements.txt, .gitlab-ci.yml
